<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link th:href="@{/webjars/semantic-ui/2.1.6/dist/semantic.min.css}" href="https://cdn.jsdelivr.net/semantic-ui/2.1.6/semantic.min.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>アカウント作成</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>アカウント作成</h1>
        <form class="ui large form" method="post" th:action="@{/accounts}" th:object="${accountRegistrationForm}">
            <div class="field">
                <span class="ui large" style="color:red" th:if="${validationError}" th:text="${validationError}"></span>
            </div>
            <div class="field">
                <label>ログインID</label>
                <span style="color:red" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
                <input type="text" th:field="*{loginId}"/>
            </div>
            <div class="field">
                <label>パスワード</label>
                <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <input type="text" th:field="*{password}"/>
            </div>
            <div class="field">
                <label>アカウント名</label>
                <span style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                <input type="text" th:field="*{lastName}" placeholder="姓"/>
                <span style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                <input type="text" th:field="*{firstName}" placeholder="名"/>
            </div>
            <button type="submit" class="ui large orange submit button">登録</button>
        </form>
    </div>
</body>
</html>